@model IEnumerable<Domain.Entities.CurrencyTransformFees>

@{
    ViewData["Title"] = "DetailCurrencyTransformFee";
}

<h1>DetailCurrencyTransformFee</h1>

<p>
    <a asp-controller="FeeTransform" asp-action="Create" asp-route-currencyCode="@ViewBag.currentCode" asp-route-currentId="@ViewBag.currencyId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FromCurrency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToCurrency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartRange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndRange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                    <a asp-controller="FeeTransform" asp-action="Update" asp-route-transformFeeId="@item.FeeId">
                        Update
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
