@model IEnumerable<Domain.Entities.ExchangeRate>

@{
    ViewData["Title"] = "DetailCurrencyTransformRate";
}

<h1>DetailCurrencyTransformRate</h1>

<p>
    <a asp-controller="Rate" asp-action="Create" asp-route-currencyCode="@ViewBag.currentCode" asp-route-currentId="@ViewBag.currencyId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.FromCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                <a asp-controller="Rate" asp-action="Update" asp-route-rateId="@item.ExchangeRateId" >
                    Update  
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
