@model Application.Dtos.AccountDtos.AccountViewModel

@{
    ViewData["Title"] = "BankAccount";
}

<h1>BankAccount</h1>

<div>
    <h4>AccountViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartNumber)
        </dd>
    </dl>
</div>

