@model IEnumerable<Application.Dtos.AccountDtos.AccountViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="BankAccount" asp-action="CreateBankAccount">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartNumber)
            </td>
            <td>
                <a asp-controller="CurrencyAccounts" asp-action="DetailCurrencyTransformRate" asp-route-currencyId="@item.CurrencyId" asp-route-currentCode="@item.CurrencyCode">
                    Delete |
                </a>
                <a asp-controller="CurrencyAccounts" asp-action="DetailCurrencyTransformFee" asp-route-currencyId="@item.CurrencyId" asp-route-currentCode="@item.CurrencyCode">
                   Update | 
                </a>
                <a asp-controller="CurrencyAccounts" asp-action="DetailCurrencyExchangeFee" asp-route-currencyId="@item.CurrencyId" asp-route-currentCode="@item.CurrencyCode">
                 Details
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
