@model IEnumerable<Application.Dtos.AccountDtos.AccountViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="BankAccount" asp-action="CreateBankAccount">Create New</a>
</p>
<p>
    <a asp-controller="BankAccount" asp-action="DeleteAccounts">Deleted Account</a>
</p>
<p>
    <a asp-controller="BankAccount" asp-action="UserTransactions">All Transactions</a>
</p>
<p>
    <a asp-controller="OthersBank" asp-action="Index">OthersAccounts</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CartNumber)
                </td>
                <td>
                    <a asp-controller="BankAccount" asp-action="DeleteAccount" asp-route-accountId="@item.AccountId">
                        Delete |
                    </a>
                    <a asp-controller="BankAccount" asp-action="UpdateBankAccount" asp-route-accountId="@item.AccountId">
                        Update |
                    </a>
                    <a asp-controller="BankAccount" asp-action="IncreaseBalance" asp-route-accountId="@item.AccountId" asp-route-accountCurrency="@item.Currency">
                        IncreaseBalance |
                    </a>
                    <a asp-controller="BankAccount" asp-action="Withdrawal" asp-route-accountId="@item.AccountId">
                        Withdrawal |
                    </a>
                    <a asp-controller="BankAccount" asp-action="AccountTransactions" asp-route-accountId="@item.AccountId">
                        Transactions |
                    </a>
                    <a asp-controller="Transaction" asp-action="TransactionAmount" asp-route-accountId="@item.AccountId" asp-route-fromCurrency="@item.Currency">
                        Transform
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
