@model IEnumerable<Application.Dtos.AccountDtos.AccountViewModel>

@{
    ViewData["Title"] = "Accounts";
}

<h1>Admin</h1>


<p>
    <a asp-action="AllTransactions">All Transactions</a>
</p>

<p>
    <a asp-action="DeletedAccounts">Deleted Accounts</a>
</p>

<p>
    <a asp-action="DisActiveAccounts">DisActive Accounts</a>
</p>

<div class="row">
    <div class="col-md-4">
        <form method="get" asp-action="SearchAccountByCartNumber">
            <p>
                Cart Number
            </p>
            <input type="text" name="cartNumber" maxlength="16"/>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <form method="get" asp-action="SearchAccountById">
            <p>
                Account ID
            </p>
            <input type="number" name="accountId" maxlength="16"/>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>





<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CartNumber)
                </td>
                <td>
                    <a asp-controller="Admin" asp-action="AccountTransactions" asp-route-accountId="@item.AccountId">
                        Transactions |
                    </a>
                    <a asp-controller="Admin" asp-action="DeActivateAccount" asp-route-accountId="@item.AccountId">
                        DeActivate|
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
